:root {
    --primero: #272822;
    --segundo: #F92672;
    --tercero: #66D9EF;
    --cuarto: #A6E22E;
    --quinto: #FD971F;
    --sexto: #FFFFFF;
    --septimo: rgb(23, 177, 120);
    --octavo: #660066;
    --noveno: #cc00cc;
    --mobile: #4d0000;
    --tablet: #00004d;
    --desktop: #004d00;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

body {
    background-color: var(--primero);
    overflow-x: hidden;
    padding-bottom: 200px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
}

section {
    background-color: var(--mobile);
    max-width: 1440px;
    height: fit-content;
    width: 100%;
    margin-top: 5rem;
    @media (min-width: 834px) {
        background-color: var(--tablet);
    }
    @media (min-width: 1280px) {
        background-color: var(--primero);
    }
}

/** Estilos para el carousel **/
.carousel {
    display: flex;
    width: 100%;
    height: fit-content;
    position: relative;
    div {
        scroll-snap-align: start;
    }
}

.carousel__arrow {
    border-radius: 100%;
    background-color:var(--octavo);
    color: var(--sexto);
    border: 0;
    cursor: pointer;
    display: none;
    font-size: 32px;
    font-weight: bolder;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top:50%;
    width: 32px;
    z-index: 1;
    @media (min-width: 1280px) {
        display: block;
    }
}

.carousel__arrow--previous {
    left: 0;
    display: none;
}

.carousel__arrow--next {
    right: 0;
}

.carousel__viewBox {
    width: 100%;
    overflow: hidden;
}

.carousel__track {
    display: flex;
    will-change: transform;
    gap: 24px;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    @media (min-width: 1280px) {
        overflow: initial;
        scroll-snap-type: none;
    }
}


.carousel__item {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    font-weight: bold;
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    box-sizing: border-box;
    place-items: center;
    justify-content: center;
    color: white;
}

.carousel__item2 {
    flex-shrink: 0;
    width: 100%;
    height: 800px;
    font-weight: bold;
    font-size: 6rem;
    font-family: sans-serif;
    display: flex;
    box-sizing: border-box;
    place-items: center;
    justify-content: center;
    color: white;
    @media (min-width: 1280px) {
        font-size: 20rem;
    }
}

.carousel__item:nth-child(even),
.carousel__item2:nth-child(even) {
    background-color: var(--quinto);
}

.carousel__item:nth-child(odd),
.carousel__item2:nth-child(odd) {
    background-color: var(--cuarto);
}


.carousel__buttons {
    bottom: -30px;
    display: flex;
    gap: 12px;
    justify-content: center;
    position: absolute;
    width: 100%;
    button {
        background-color: #C0C0C0;
        opacity: .5;
        border-radius: 50% 50%;
        border: 0;
        cursor: pointer;
        height: 12px;
        width: 12px;
    }
    .carousel__button--active {
        opacity: 1;
    }
}

/* Control para ligth box */
.demoButton {
    padding: 10px;
    background-color: var(--septimo);
    display: flex;
    justify-content: center;
    gap: 20px;
    button {
        padding: 10px;
        font-weight: 800;
        font-size: 20px;
    }
}


.carousel__viewBox--3d {
    perspective: 1200px;
    display: flex; /* Asegura que los ítems estén centrados */
    justify-content: center; /* Centra los ítems horizontalmente */
    align-items: center; /* Centra los ítems verticalmente */
    overflow: hidden; /* Evita que se salgan del contenedor */
}

.carousel__track--3d {
    box-sizing: content-box;
    z-index: 1;
    display: flex;
    transition-property: transform;
    gap: 0;
    transform-style: preserve-3d;
}


.carousel__item--3d {
    height: 645px;
    width: 363px;
    transform: translateZ(0); /* Asegura que estén en el mismo plano 3D */
    text-align: center;
    position: relative;
    > span:first-of-type {
        display: none;
    }
}

.carousel__item--mask span:first-of-type {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primero);
    position: absolute;
    opacity: .5;
    cursor: pointer;
}