.Display {
    display: none;
  }
  
  .Wrapper__Content {
    max-width: 1140px;
    margin: auto;
  }
  
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    /* 1 */
    text-transform: none;
  }
  
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type=button]::-moz-focus-inner,
  [type=reset]::-moz-focus-inner,
  [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type=button]:-moz-focusring,
  [type=reset]:-moz-focusring,
  [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type=checkbox],
  [type=radio] {
    box-sizing: border-box;
    padding: 0;
  }
  
  [type=number]::-webkit-inner-spin-button,
  [type=number]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  
  [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  
  .CoverBackground {
    background: #0D0D0D;
  }
  
  .Cover {
    color: #E5E5E5;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
  }
  .Cover a {
    color: #D0D0D0;
    text-decoration: none;
    transition: color 0.2s ease-out;
  }
  .Cover a:hover {
    color: rgba(208, 208, 208, 0.5);
  }
  
  .TitleContainer {
    width: 100%;
    background: #3c3c48;
    margin-top: 2em;
    position: relative;
    margin-bottom: 4em;
  }
  @media (max-width: 768px) {
    .TitleContainer::before {
      content: "";
      width: 100%;
      height: 12px;
      position: absolute;
      background: #3c3c48;
      transform: rotate(-4.3deg) scale(2);
      top: -10px;
      z-index: -1;
    }
    .TitleContainer::after {
      content: "";
      width: 100%;
      height: 12px;
      position: absolute;
      background: #3c3c48;
      transform: rotate(-4.9deg) scale(2);
      bottom: -10px;
      z-index: -1;
    }
  }
  
  .Title {
    font-family: "Staatliches", cursive;
    font-display: auto;
    text-align: center;
    font-size: 5em;
    line-height: 0.85em;
    padding: 0.4em;
    max-width: 1140px;
    margin: auto;
  }
  
  .ViewBoxXViewBoxBackground,
  .FluidBackground,
  .CardXCardBackground {
    background: #3c3c48;
  }
  
  .WrapperText {
    max-width: 700px;
    padding: 5%;
    margin: auto;
    font-size: 0.9em;
    font-weight: 100;
    border: solid 1px #2d2d2d;
  }
  
  .TitleContainer h1 {
    animation: Carousel 1s ease-in-out;
  }
  
  @keyframes Carousel {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }
  .Carousel {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .Carousel {
      display: block;
    }
  }
  .Carousel__Arrow {
    display: flex;
    width: auto;
    align-items: center;
  }
  
  .Carousel__Arrow-Previous,
  .Carousel__Arrow-Next {
    background: none;
    border: none;
    outline: none;
    transition: opacity 0.2s ease-in-out;
  }
  
  .Carousel__Arrow-Previous:hover,
  .Carousel__Arrow-Next:hover {
    opacity: 0.7;
  }
  
  .Carousel__Arrow-Previous {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #6c89bf;
    border-bottom: 20px solid transparent;
  }
  
  .Carousel__Arrow-Next {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid #6c89bf;
    border-bottom: 20px solid transparent;
  }
  
  .Carousel__Track {
    display: flex;
    will-change: transform;
  }
  
  .Carousel__Item {
    position: relative;
    padding: 5px;
  }
  
  .Carousel__ViewBox {
    overflow: hidden;
  }
  
  .Description {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .Description__Title {
    margin: 0px;
    font-family: "Righteous", cursive;
    font-size: 1.5em;
    letter-spacing: 0.06em;
    color: #868686;
  }
  .Description__Paragraph {
    margin: 10px 0px 20px;
    color: #868686;
  }
  
  .Items__ItemTypeAImage {
    max-width: 100%;
    font-size: 0;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }
  
  .Items__ItemTypeA,
  .Items__ItemTypeA-Active {
    width: 180px;
    border-radius: 6px;
    overflow: hidden;
    background: #fbfbfb;
    display: block;
    text-decoration: none;
    color: #868686;
    position: relative;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }
  @media (min-width: 769px) {
    .Items__ItemTypeA,
  .Items__ItemTypeA-Active {
      width: 200px;
    }
  }
  
  @media (min-width: 768px) {
    .Items__ItemTypeA:hover {
      transform: scale(0.97);
    }
    .Items__ItemTypeA:hover .Items__ItemTypeAImage {
      transform: scale(1.06);
    }
  }
  .Items__ItemTypeATitleContainer,
  .Items__ItemTypeADescriptionContainer,
  .Items__ItemTypeATimeContainer,
  .Items__ItemTypeADateContainer,
  .Items__ItemTypeAAutorContainer,
  .Items__ItemTypeALabelContainer {
    padding: 0px 12px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .Carousel__Arrow-Previous,
  .Carousel__Arrow-Next {
      display: none;
    }
  }
  .Items__ItemTypeATitle {
    font-family: "Oswald", sans-serif;
    font-display: auto;
    font-size: 1em;
    margin: 0px;
  }
  
  .Items__ItemTypeADescription {
    font-family: Helvetica, sans-serif;
    font-size: 0.82em;
    line-height: 1.25em;
    letter-spacing: 0.01em;
    margin: 0px;
  }
  
  .Items__ItemTypeATitleContainer {
    margin: 12px 0px;
  }
  
  .Items__ItemTypeADescriptionContainer {
    margin: 0px 0px 12px 0px;
  }
  
  .Items__ItemTypeALabelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;
  }
  
  .Items__ItemTypeALabel {
    display: block;
    background: #6c89bf;
    padding: 10px;
    border-radius: 6px;
    color: #cedcf5;
    text-transform: uppercase;
    font-size: 10px;
    font-family: Helvetica, sans-serif;
  }
  
  .Items__ItemTypeAAutor {
    font-size: 0.5em;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    text-align: right;
    display: block;
  }
  
  .Items__ItemTypeADate {
    font-size: 0.5em;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    text-align: left;
    display: block;
  }
  
  .Items__ItemTypeADateContainer {
    width: 50%;
    float: left;
  }
  
  .Items__ItemTypeAAutorContainer {
    width: 50%;
    float: right;
  }
  
  .Items__ItemTypeADateContainer,
  .Items__ItemTypeAAutorContainer {
    margin: 0px 0px 12px 0px;
  }
  
  .Items__ItemTypeA-Active:before {
    content: "You are watching";
    width: 100%;
    height: 100%;
    background: rgba(108, 137, 191, 0.9);
    position: absolute;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #cedcf5;
    font-family: Helvetica, sans-serif;
    font-size: 0.9em;
    z-index: 1;
  }
  
  .Dialer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    padding: 0 5%;
    margin: auto;
  }
  .Dialer__Description {
    text-align: center;
    margin: 1em 0 2em 0;
    font-size: 0.8em;
    color: #9a9a9a;
    font-weight: 300;
  }
  
  .Button {
    background: #e25858;
    display: block;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 250px;
    font-size: 1.4em;
    font-family: "Staatliches", cursive;
    font-display: auto;
  }
  
  header {
    background: #0D0D0D;
    width: 100%;
    height: 60px;
    margin-bottom: 10%;
  }
  
  nav {
    max-width: 1140px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    margin: auto;
  }
  nav a {
    text-decoration: none;
    color: #484848;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    transition: color 0.2s ease;
    font-size: 0.8em;
    text-align: center;
  }
  nav a:hover {
    color: #e25858;
  }
  nav a:nth-child(2) {
    font-family: "Staatliches", cursive;
    font-display: auto;
    font-size: 1.4em;
    color: #D0D0D0;
    text-align: center;
  }
  
  /*# sourceMappingURL=Main.css.map */
  